<ion-view class="drivers-view">
  <div class="bar bar-header bar-stable">
    <button class="button button-clear button-stable icon ion-ios-arrow-back" ng-click="goBack()"></button>
    <h1 class="title">{{car.registration}}</h1>
    <div class="icon-right stable">
      <i class="icon ion-connection-bars"></i>
    </div>
  </div>

  <ion-content scroll="true" class="has-header has-tabs">
    <div class="list">
      <div class="item item-divider">
        Current Owner
      </div>
      <div class="item item-icon-right">
        {{owner.name}}
        <i class="icon ion-ios-compose-outline" ng-click="changeOwner()"></i>
      </div>

      <div class="item item-divider item-icon-right">
        Drivers
        <i class="icon ion-ios-plus-outline" ng-click="addDriver()"></i>
      </div>      
      <div class="item item-icon-right" ng-repeat="driver in drivers">
        <h2>{{driver.name}}</h2>
        <p>Expires: {{driver.expires}}</p>
        <i class="icon ion-ios-minus-outline" ng-click="deleteDriver()"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
