<ion-view class="drivers-view">
  <div class="bar bar-header bar-stable">
    <button class="button button-clear button-stable icon ion-ios-arrow-back" ng-click="goBack()"></button>
    <h1 class="title">Fob {{device.Identity2}}</h1>
    <div class="icon-right stable">
      <i class="icon ion-connection-bars"></i>
    </div>
  </div>

  <ion-content scroll="true" class="has-header has-tabs">
    <div class="list">
      <div class="item item-divider">
        Current Owner
      </div>
      <div class="item item-icon-right">
        {{owner_access.Alias}}
        <i class="icon ion-ios-compose-outline" ng-click="openOwnerModal()" ng-if="owner_access.OID==oid"></i>
      </div>

      <div class="item item-divider item-icon-right" style="padding-top: 30px;">
        Access
        <i class="icon ion-ios-plus-outline" ng-click="openAddModal()" style="padding-top: 20px;" ng-if="user_access.CanGrant"></i>
      </div>
      <div class="item item-icon-right" ng-repeat="access in device.Access | filter: filterOwner">
        <h2>{{access.Alias}}</h2>
        <p>Expires: {{access.Expires | date : "yyyy-MM-dd"}}</p>
        <i class="icon ion-ios-minus-outline" ng-click="removeAccess(access)" ng-if="user_access.CanGrant"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
