<ion-view class="profile-view" view-title="Profile">
  <ion-content scroll="false" class="has-header">
    <div class="top-content row">
      <div class="col col-center">
        <div class="row">
          <div class="col col-center right">
            <button class="button button-calm" ng-click="changePin();">
              <i class="icon ion-lock-combination"></i>
              <div class="title">Change PIN</div>
            </button>
          </div>
          <div class="col col-center left">
            <button class="button button-balanced" ng-click="changePassword();">
              <i class="icon ion-key"></i>
              <div class="title">Change Password</div>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col col-center right">
            <button class="button button-energized" ng-click="getCode();">
              <i class="icon ion-lock-combination"></i>
              <div class="title">Get Code</div>
            </button>
          </div>
          <div class="col col-center left">

          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
