<ion-view class="home-view" view-title="VPS">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="notifications()">
      <i class="icon ion-android-notifications"></i>
    </button>
    <button class="button button-clear" ng-click="refresh()">
      <i class="icon ion-refresh"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="true" class="has-header">
    <div class="list">
      <div class="item item-divider">
        {{alias}}
      </div>

      <a class="item item-thumbnail-left" ng-click="selectDevice($index)" ng-repeat="device in devices track by $index">
        <img ng-src="{{getDeviceImage(device)}}">
        <h2>{{device.MakeID}}</h2>
        <p>{{device.Identity2}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
